<div class="row">
	<div class="col-lg-12">
		<p class="lead">Choose the Subject for which to enter marks</p>
	</div>
	<div class="col-lg-12">
	<form method="post" action="/" id="getspreadsheet">
		<div class="col-lg-2" id="classes-list">
			
		</div>
		<div class="col-lg-2" id="streams-list">
			<select id="stream_id" class="form-control" required="">
				<option> --Stream-- </option>
			</select>
		</div>
		<div class="col-lg-2" id="terms-list">
			<select id="term_id" class="form-control" required="">
				<option> --Term-- </option>
			</select>
		</div>
		<div class="col-lg-2" id="years-list">
			<select id="year" class="form-control" required="">
				<option> --Year-- </option>
				<option value="1">2015</option>
				<option value="2">2016</option>
				<option value="3">2017</option>
			</select>		
		</div>
		<br>
		<br>
		<div class="col-lg-2">
			<button type="submit" class="btn btn-primary">Go!</button>
		</div>
	</form>
	</div>	
</div>
