	<td></td>
	<td><%= reg_number %></td>
	<td><%= first_name %> <%= middle_name.charAt(0).toUpperCase() %> <%= last_name %></td>
	
	<% $.each(subjects, function(key, subject){ 
		var foundScore = false;
		$.each(exams, function(key, exam){
			if(subject.id == exam.subject_id){ 
				foundScore = true; %>
				<td><%= exam.exam_percent %></td>
			<% } 
		});

		if(foundScore == false){ %>
			<td></td> <%
		}

	}); %>

	<td><%= total %></td>
	<td><%= average %></td>

	<% letter_grade = null;
		remarks = null;
		$.each(grades, function(key, grade){
			if((average >= grade.from_score) && (average <= grade.to_score)) {
				letter_grade = grade.letter_grade;
				remarks = grade.remarks;
			}
		}); %>
	<td><%= letter_grade %></td>
	<td><%= remarks %></td>