	<td></td>
	<td><%= reg_number %></td>
	<td><%= first_name %> <%= middle_name.charAt(0).toUpperCase() %> <%= last_name %></td>
	
	<% $.each(reg_exams, function(key, reg_exam){ 
		var score = null;
		$.each(exams, function(k, exam){ 
			if(exam.exam_id == reg_exam.id) score = exam.exam_percent;
		});%>
		<td><%= score %></td>
	<% }); %>

	<td><%= average %></td>

	<% letter_grade = null;
		remarks = null;

		if(average != null){
			$.each(grades, function(key, grade){
				if((average >= grade.from_score) && (average <= grade.to_score)) {
					letter_grade = grade.letter_grade;
					remarks = grade.remarks;
				}
			}); 
		} %>
		
	<td><%= letter_grade %></td>
	<td><%= remarks %></td>	