
	<td><%= name %></td>	
	<td>Subjects(<%= subjects %>)</td>
	<td>Streams(<%= streams %>)</td>
	<td>Exams(<%= exams %>)</td>
	<td>Population(<%= population %>)</td>
	<td><a class="btn btn-sm btn-primary view-class-details" href="" data-toggle="tooltip" data-placement="bottom" title="Click to view more details and set options"><i class="glyphicon glyphicon-open"></i> Open</a></td>
	<td><a class="btn btn-danger btn-sm delete-class" href="#" >  <i class="fa fa-trash-o fa-lg"></i> Delete</a></td>		

