				<!-- Page Row -->
				<div class="row">
					<div id="class-view-head">
						
					</div>

					<hr>
					<!-- streams display -->
					<div class="col-lg-12">
						<div class="col-lg-6">
							<p class="lead">Streams</p>
						</div>
						<div class="col-lg-3">
							<!-- Button trigger add new stream modal -->
							<button class="btn btn-small btn-primary" data-toggle="modal" data-target="#add_new_stream"><i class="fa fa-plus"></i> Add New Stream</button>
						</div>
					</div>
					<div class="col-lg-12">
						<table class="table table-hover table-bordered table-striped">
							<thead>
								<th>Name</th>
								<th>Abbr</th>
								<th>No. of Students</th>
								<th>Date Created</th>
								<th>Edit</th>
								<th>Delete</th>
							</thead>
							<tbody id="streams-list">
								
							</tbody>
						</table>
						<p class="alert alert-danger no-streams-yet" style="display:none;"> There are no registered streams yet.</p>
					</div>

					<hr>
					<div class="col-lg-12">
						<div class="col-lg-6">
							<p class="lead">Subjects</p>
						</div>
						<div class="col-lg-3">
							<!-- Button trigger add new subject modal -->
							<button class="btn btn-small btn-primary" data-toggle="modal" data-target="#add_new_subject"><i class="fa fa-plus"></i> Add New Subject</button>
						</div>
					</div>
					<div class="col-lg-12">
						<table class="table table-hover table-striped table-bordered">
							<thead>
								<th>Name</th>
								<th>Abbr</th>
								<th>Description</th>
								<th>Date Created</th>
								<th>Edit</th>
								<td>Delete</td>
							</thead>
							<tbody id="subjects-list">
								
							</tbody>
						</table>
						<p class="alert alert-danger no-subjects-yet" style="display:none;"> There are no registered subjects yet.</p>

					</div>

					<hr>
					<div class="col-lg-12">
						<div class="col-lg-6">
							<p class="lead">Exams</p>
						</div>
						<div class="col-lg-3">
							<!-- Button trigger add new exam modal -->
							<button class="btn btn-small btn-primary" data-toggle="modal" data-target="#add_new_exam"><i class="fa fa-plus"></i> Add New Exam</button>
						</div>
					</div>
					<div class="col-lg-12">
						<table class="table table-hover table-striped table-bordered">
							<thead>
								<th>Name</th>
								<th>Abbr</th>
								<th>Description</th>
								<th>Date Created</th>
								<th>Edit</th>
								<th>Delete</th>
							</thead>
							<tbody id="exams-list">
								
							</tbody>
						</table>
						<p class="alert alert-danger no-exams-yet" style="display:none;"> There are no registered exams yet.</p>
					</div>
				</div>
				<!-- row 1 -->
				

				<!-- Modals -->
				
				<div class="row">
				<!-- row 2 --> 	
							
					<!-- Add New Stream modal -->
					<div class="modal" id="add_new_stream" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					   <div class="modal-dialog">
						  <div class="modal-content">
							 <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
								<h4 class="modal-title" id="myModalLabel">
								   Enter New Stream
								</h4>
							 </div>
							 <form action="#" method="post" id="add-new-stream">
							 <div class="modal-body">	
								
								<p class="alert alert-danger error-message" style="display: none;"></p>
								<p class="alert alert-success success-message" style="display: none;"></p>

								<input type="hidden" id="class_id" value="<%= class_id %>">

								<input type="text" class="form-control" id="new-stream-name" placeholder="Stream Name e.g WEST" required="">
								<br>								
								<input type="text" class="form-control" id="new-stream-abbr" placeholder="Stream Abbr e.g W" required="">
								<br>
								<textarea class="form-control" id="new-stream-description" placeholder="Short stream description..."></textarea>
							 </div>
							 <div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-fw fa-times"></i> Cancel</button>
								<button type="submit" class="btn btn-primary submit-button"><i class="fa fa-fw fa-check"></i> Save </button>
							 </div>
							 </form>
						  </div>
						  <!-- /.modal-content -->
						</div>
					</div>
					<!-- /.add new stream modal -->	

					<!-- Add New Subject modal -->
					<div class="modal" id="add_new_subject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					   <div class="modal-dialog">
						  <div class="modal-content">
							 <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
								<h4 class="modal-title" id="myModalLabel">
								   Enter New Subject
								</h4>
							 </div>
							 <form action="#" method="post" id="add-new-subject">
							 <div class="modal-body">	
								
								<p class="alert alert-danger error-message" style="display: none;"></p>
								<p class="alert alert-success success-message" style="display: none;"></p>

								<input type="hidden" id="class_id" value="<%= class_id %>">

								<input type="text" class="form-control" id="new-subject-name" placeholder="Subject Name e.g ENGLISH" required="">
								<br>								
								<input type="text" name="class" class="form-control" id="new-subject-abbr" placeholder="Subject Abbr e.g ENG" required="">
								<br>
								<textarea class="form-control" id="new-subject-description" placeholder="Short subject description..."></textarea>
							 </div>
							 <div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-fw fa-times"></i> Cancel</button>
								<button type="submit" class="btn btn-primary submit-button"><i class="fa fa-fw fa-check"></i> Save </button>
							 </div>
							 </form>
						  </div>
						  <!-- /.modal-content -->
						</div>
					</div>
					<!-- /.add new subject modal -->						

					<!-- Add New Exam modal -->
					<div class="modal" id="add_new_exam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					   <div class="modal-dialog">
						  <div class="modal-content">
							 <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
								<h4 class="modal-title" id="myModalLabel">
								   Enter New Exam
								</h4>
							 </div>
							 <form action="#" method="post" id="add-new-exam">
							 <div class="modal-body">	
								
								<p class="alert alert-danger error-message" style="display: none;"></p>
								<p class="alert alert-success success-message" style="display: none;"></p>

								<input type="hidden" id="class_id" value="<%= class_id %>">

								<input type="text" class="form-control" id="new-exam-name" placeholder="Exam Name e.g C.A.T II" required="">
								<br>								
								<input type="text" name="class" class="form-control" id="new-exam-abbr" placeholder="Exam Abbr e.g CAT II" required="">
								<br>
								<textarea class="form-control" id="new-subject-description" placeholder="Short exam description..."></textarea>
							 </div>
							 <div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-fw fa-times"></i> Cancel</button>
								<button type="submit" class="btn btn-primary submit-button"><i class="fa fa-fw fa-check"></i> Save </button>
							 </div>
							 </form>
						  </div>
						  <!-- /.modal-content -->
					</div>
					<!-- /.add New Exam modal -->					
					</div>
				</div>
				<!-- /.page row -->