
	<td><span class="exam-name"><%= exam_name %></span><input type="text" class="form-control hidden exam-name-input" value="<%= exam_name %>"></td>
	<td><span class="exam-abbr"><%= exam_abbr %></span><input type="text" class="form-control hidden exam-abbr-input" value="<%= exam_abbr %>"></td>
	<td><span class="exam-desc"><%= description %></span><input type="text" class="form-control hidden exam-desc-input" value="<%= description %>"></td>
	<td><%= date_created %></td>
	<td>
		<button class="btn btn-success btn-sm editExam"><i class="fa fa-edit fa-lg"></i> Edit</button>
		<button class="btn btn-primary btn-sm editDone hidden"><i class="fa fa-check fa-lg"></i> Done</button>
	</td>		
	<td><button class="btn btn-danger btn-sm deleteExam"><i class="fa fa-trash-o fa-lg"></i> Delete</button></td>