			<!-- activate the date picker -->
			<script>
			$(function(){
				$('.datepicker').datepicker({
					changeMonth:true,
					changeYear:true,
					yearRange: "-5:+5",
					dateFormat:"DD, MM d, yy"
				});	
			});
			</script>			
				<!-- .row -->
				<div class="row">
					<!-- large column -->
					<p>Registered Terms</p>
					<div class="col-lg-12">			
						<div class="col-lg-4">
							<div class="btn-group">
							  <a class="btn btn-primary" href="#"> Actions</a>
							  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
							    <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
							  </a>
							  <ul class="dropdown-menu">
							    <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
							    <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
							    <li><a href="#"><i class="fa fa-ban fa-fw"></i> Ban</a></li>
							    <li class="divider"></li>
							    <li><a href="#"><i class="fa fa-unlock"></i> Make admin</a></li>
							  </ul>
							</div>	
						</div>

						<div class="col-lg-4">
							<!-- Button trigger modal -->
							<button class="btn btn-small btn-primary" data-toggle="modal" data-target="#add_new_term"><i class="fa fa-plus"></i> Add New Term</button>
						</div>

						<div class="col-lg-4 pull-right">						
							<div class="input-group col-lg-12">
							    <input type="text" class="form-control" placeholder="Filter Terms"/>
							    <span class="input-group-addon">
							        <i class="fa fa-search"></i>
							    </span>
							</div>
						</div>
					</div>
					<br>
					<br>
					<div class="col-lg-12">
					
						<table class="table table-bordered table-striped table-hover table-condensed">
							<thead>
								<th><input type="checkbox"  class="form-control"></th><th>Term Name</th><th>Abbrev.</th><th>Start Date</th><th>End Date</th><th>Edit</th><th>Delete</th>
							</thead>
							<tbody id="terms-list">
								
							</tbody>
						</table>
						<p class="alert alert-danger no-terms-yet" style="display:none;"> There are no registered terms yet.</p>
					</div>
					<!-- /.column -->
				</div>
				<!-- /.row -->

				<!-- Modals -->
				
				<div class="row">
				<!-- row 2 --> 				
					<!-- Add New User modal --> 
					<div class="modal fade" id="add_new_term" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					   <div class="modal-dialog">
						  <div class="modal-content">
							 <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
								<h4 class="modal-title" id="myModalLabel">
								   Create New Term
								</h4>
							 </div>
							 <form action="#" method="post" id="add-new-term">
							 <div class="modal-body">	
								
								<p class="lead">Please fill in the term details below</p>
								
								<p class="alert alert-danger error-message" style="display: none;"></p>
								<p class="alert alert-success success-message" style="display: none;"></p>

								<label for="new-term-name">Term Name</label>
								<input type="text" class="form-control" id="new-term-name" required>

								<label for="new-term-abbr">Term Abbreviation</label>
								<input type="text" class="form-control" id="new-term-abbr" required>

								<label for="new-term-start">Start Date</label>
								<input type="text" id="new-term-start" class="form-control datepicker" required>
								
								<label for="new-term-end">End Date</label>
								<input type="text" id="new-term-end" class="form-control datepicker" required>

							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-fw fa-times"></i> Cancel</button>
								<button type="submit" class="btn btn-primary submit-button"><i class="fa fa-fw fa-check"></i> Create </button>
							</div>
							</form>
						  </div>
						  <!-- /.modal-content -->
					</div>
					<!-- /.add new class modal -->	
				</div>
				<!-- /.page row -->