	<td><input type="checkbox" class="form-control"></td>
	<td><span class="term-name"><%= term_name %></span><input type="text" class="form-control hidden term-name-input" value="<%= term_name %>"></td>
	<td><span class="term-abbr"><%= term_abbr %></span><input type="text" class="form-control hidden term-abbr-input" value="<%= term_abbr %>"></td>
	<td><span class="term-start"><%= start_date %></span><input type="text" class="form-control hidden term-start-input" value="<%= start_date %>"></td>
	<td><span class="term-end"><%= end_date %></span><input type="text" class="form-control hidden term-end-input" value="<%= end_date %>"></td>
	<td>
		<button class="btn btn-success btn-sm editTerm"><i class="fa fa-edit fa-lg"></i> Edit</button>
		<button class="btn btn-primary btn-sm editDone hidden"><i class="fa fa-check fa-lg"></i> Done</button>
	</td>
	<td><button class="btn btn-danger btn-sm deleteTerm" href="#"><i class="fa fa-trash-o fa-lg"></i> Delete</button></td>