				<!-- .row -->
				<div class="row">
					<!-- large column -->
					<div class="col-lg-6">
						<!-- .form-group -->
						<div class="form-group">
							
							<form method="post" action="" id="add-client">

								<p class="lead">Fill the Client Details</p>
								
								<p class="alert alert-danger error-message" style="display: none;"></p>
								<p class="alert alert-success success-message" style="display: none;"></p>
								
								<label for="client-name">Institution</label>
								<input type="text" name="clientname" class="form-control" id="client-name" required>

								<label for="first-name">First Name</label>
								<input type="text" name="firstname" class="form-control" id="first-name" required>

								<label for="last-name">Last Name</label>
								<input type="text" name="lastname" class="form-control" id="last-name" required>

								<label for="phone">Phone</label>
								<input type="type" name="phone" id="phone" class="form-control" required>

								<label for="email">Email</label>
								<input type="email" id="email" name="email" class="form-control" required>

								<label for="address">Postal Address</label>
								<input type="text" name="address" id="address" class="form-control" required>

								<label for="code">Postal Code</label>
								<input type="text" name="code" id="code" class="form-control" required>

								<label for="city">City</label>
								<input type="text" name="city" id="city" class="form-control" required>
								
								<p></p>
								<button type="submit" class="btn btn-lg btn-primary  submit-button">Submit</button>							

							</form>

						</div>
						<!-- /.form-group -->
					</div>
					<!-- /.column -->
				</div>
				<!-- /.row -->