				<!-- .row -->
				<div class="row">
					<!-- large column -->
					<div class="col-lg-6">
						<!-- .form-group -->
						<div class="form-group">
							
							<form method="post" action="" id="add-user">

								<p class="lead">Fill the User Details</p>
								
								<p class="alert alert-danger error-message" style="display: none;"></p>
								<p class="alert alert-success success-message" style="display: none;"></p>

								<label for="first-name">First Name</label>
								<input type="text" name="firstname" class="form-control" id="first-name" required>

								<label for="last-name">Last Name</label>
								<input type="text" name="lastname" class="form-control" id="last-name" required>

								<label for="email">Email</label>
								<input type="email" id="email" name="email" class="form-control" required>

								<label for="password">Password</label>
								<input type="password" name="password" id="password" class="form-control" required>	

								<p></p>
								<button type="submit" class="btn btn-lg btn-primary submit-button">Submit</button>							
							</form>

						</div>
						<!-- /.form-group -->
					</div>
					<!-- /.column -->
				</div>
				<!-- /.row -->