				<!-- .row -->
				<div class="row">
					<!-- large column -->
					<p>Registered Users</p>
					<div class="col-lg-12">			
						<div class="col-lg-4">
							<div class="btn-group">
							  <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> Actions</a>
							  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
							    <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
							  </a>
							  <ul class="dropdown-menu">
							    <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
							    <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
							    <li><a href="#"><i class="fa fa-ban fa-fw"></i> Ban</a></li>
							    <li class="divider"></li>
							    <li><a href="#"><i class="fa fa-unlock"></i> Make admin</a></li>
							  </ul>
							</div>	
						</div>

						<div class="col-lg-4">
							<a class="btn btn-primary" href="<%= baseURL %>#admin/usernew/<%= token %>"><i class="fa fa-plus"></i> Add User</a>
						</div>

						<div class="col-lg-4 pull-right">						
							<div class="input-group col-lg-12">
							    <input type="text" class="form-control" placeholder="Search users"/>
							    <span class="input-group-addon">
							        <i class="fa fa-search"></i>
							    </span>
							</div>
						</div>
					</div>
					<br>
					<br>
					<div class="col-lg-12">
					
						<table class="table table-bordered table-striped table-hover table-condensed">
							<thead>
								<th><input type="checkbox"  class="form-control"></th><th>Name</th><th>Email</th><th>View</th><th>Delete</th>
							</thead>
							<tbody id="users-table">
								
							</tbody>
						</table>

					</div>
					<!-- /.column -->
				</div>
				<!-- /.row -->